<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Explore Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Explore Mars</h1>
      <p>Check out some new images and facts about Mars</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars News</a></p>
    </div>
    <h2>Latest Mars News</h2>
    <h4>{{ mars_facts.Headline }}</h4>
    <p>{{mars_facts.News}}</p>
    <h3>Featured Mars Image</h3>
    <img src="{{mars_facts['Featured Image']}}" alt="Latest Image from Mars">
    <table class = 'table'>
      {{mars_facts.Table | safe}}
    </table>
  </hr>
  <div class="container text-center">
    <h1 class="jumbotron">Hemispheres of Mars</h1>
    <div>
      <ul style="list-style: none;">

        <!-- Loop through the dictionary -->
        
        {% for Hemisphere_Images in mars_facts %}
        <li>{{Hemisphere_Images.title}}</li>
          <!-- <li style="color:blue">{{ Hemisphere_Images.title }}</li> -->
        <!-- <img src='{{mars_facts[Hemisphere_Images.img_url]}}'/> -->
        {% endfor %}

      </ul>
    </div>
  </div>
  </div>
  </div>
</body>

</html>